{% extends 'base.html' %}
{% block content %}
<div class="actus">
    <div class="news">
        <img src="{{url_for('static', filename='images/COD.png')}}" alt="COF">
        <h2>CallOfDuty</h2>
        <h3>Call Of Duty BlackOps 2025</h3>
        <ul>
            <li>N65</li>
            <li>PS5</li>
            <li>Switch</li>
            <li>XBOX</li>
        </ul>
        <ul>
            <li>Extension de catégories</li>
            <li>Discord</li>
            <li>Site web</li>
        </ul>
        <div class="avis">
            <h2>REPLAICING EXPIRING TWITCH VODS</h2>
            <h3>Publié il a 1 semaine par Alaris</h3>
            <p>If you wish to replace your twitch highlights with reuploads, please edit your already verified run
                rather than deleting
                the verified run and making a new submission. This makes it a lot easier for us to track which
                submissions are reuploads
                and should be less work on your part as well.

                If you need help making quick backups of your twitch highlights in source quality, we recommend using
                yt-dlp as
                described in the retiming guide. </p>
            <button class="lire">Lire la suite</button>
        </div>
    </div>

    <section id="statistique">
        <h2>STATISTIQUE DU JEU</h2>
        <ul>
            <li>Abonnés</li>
            <li>Parties</li>
            <li>Joueurs</li>
        </ul>
        <ul>
            <li>17,698</li>
            <li>10,452</li>
            <li>77,888</li>
        </ul>
    </section>

</div>


{% endblock content %}