{% extends 'base.html' %}
{% block content %}
    <section id="run">
        <img src="{{ url_for('static', filename='images/' ~ details.game|replace(' ', '') ~ '.png' ) }}" alt="">
        <div id="infos">
            <h2>{{ details.category }}</h2>
            <h2><a href="{{ url_for('user_render', id=1) }}"> By {{ details.user }} </a></h2>
            <p>Time : {{ details.time|format_seconds }}</p>
        </div>

    </section>

    <section id="comments">
        <form method="POST" action="{{ url_for('comments', run_id=run) }}">
            <input type="text" name="commentaire" placeholder="💬 Write something" required>
            <button type="submit">Submit</button>
        </form>
        <div class="comm">
            {% for commentaire in commentaires %}
                <div class="comment">
                    <p><strong>{{ commentaire.user_name }}:</strong> {{ commentaire.commentaire }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock content %}