{% extends 'base.html' %}
{% block content %}
    <section id="run">
        <img src="{{ url_for('static', filename='images/' ~ details.game|replace(' ', '') ~ '.png' ) }}" alt="">
        <div id="infos">
            <h2>{{ details.category}}</h2>
            <h2> <a href="{{url_for('user_render', id=1)}}"> By {{ details.user }} </a> </h2>
            <p>Time : {{ details.time|format_seconds}}</p>
        </div>

    </section>
    <section id="commentaire">
        <form action="">
            <input type="text" placeholder="💬 Write something">
            <button type="submit">Submit</button>
        </form>
        <div class="comm">
            <p>User 1</p>
            <p>Amazing slowrun, you're very talented and determined! LYMYMI</p>
        </div>
    </section>
{% endblock content %}