{% extends 'base.html' %}
{% block content %}
    <section id="run">
        <img src="Images/video_bidon_tetris.png" alt="tg c'est magique">
        <div id="infos">
            <h2>100 Line Slowrun</h2>
            <h2> <a href="User.html"> By Toinoufu </a> </h2>
            <ul>
                <li>Classement</li>
                <li>1st</li>
                <li>Temps</li>
                <li>12d 2h 32min 5s</li>
            </ul>
        </div>

    </section>
    <section id="commentaire">
        <form action="">
            <input type="text" placeholder="💬 Écrivez un commentaire...">
            <button>Envoyer</button>
        </form>
        <div class="comm">
            <p>User 1</p>
            <p>Amazing slowrun, you're very talented and determined! LYMYMI</p>
        </div>
    </section>
{% endblock content %}