{% extends 'base.html' %}
{% block content %}
<section id="recherche">
    <h3 id="Liste">Liste des jeux</h3>
    <form action="{{ url_for('search_render') }}" method="GET">
        <input type="search" placeholder="🔎 Search" name="query" value="{{ query if query else '' }}">
        <button type="submit">Search</button>
    </form>
    <p>Filtre</p>
</section>

{% if query %}
    <section id="search-result">
        <h4>Résultats pour "{{ query }}"</h4>
        {% if games %}
            <div class="search-results">
                {% for game in games %}
                    <div class="game-result">
                        <a href="{{url_for('rankings_render', id=game.id)}}">
                            <img class="games" src="{{ url_for('static', filename='images/' ~ game.name|replace(' ', '') ~ '.png' ) }}" alt="{{ game.name }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun jeu trouvé pour "{{ query }}"</p>
            <a href="{{ url_for('search_render') }}">Voir tous les jeux</a>
        {% endif %}
    </section>
{% else %}
    <section id="Games">
        {% for game in games %}
            <a href="{{url_for('rankings_render', id=game.id)}}">
                <img class="games" src="{{ url_for('static', filename='images/' ~ game.name|replace(' ', '') ~ '.png' ) }}" alt="{{ game.name }}">
            </a>
        {% endfor %}
    </section>
{% endif %}

<h1>More Games Incoming 👀</h1>
{% endblock content %}