{% extends 'base.html' %}
{% block content %}
    <form action="{{url_for('login_render')}}" method="post">
        <label for="username">Username :</label>
        <input class="login" type="text" id="username" name="username"
            placeholder="Enter your username" required>

        <label for="password">Password :</label>
        <input class="login" type="password" id="password" name="password"
            placeholder="Enter your password" required>
            <button type="submit"> login </button>
    </form>
    <p>{{ error }}</p>
{% endblock content %}