{% extends 'base.html' %}
{% block content %}
    <div class="container2">
        <div class="left">
            <section id="Infos">
                <img src="{{ url_for('static', filename='images/' ~ game.name|replace(' ', '') ~ '.png' ) }}" alt="NES Tetris">
                <div id="Noms">
                    <h2>{{ game.name }}</h2>
                </div>
            </section>

            <section id="Category">
                <p>Catégories :</p>
                <ul>
                    {% for categorie in categories %}
                        <li class="category-list">{{ categorie.name }}</li>
                    {% endfor %}
                </ul>
                <form id="popup-button" action="#popup-run">
                    <button>Poster une run</button>
                </form>

                <div id="popup-run" class="popup">
                    <div class="popup-content">
                        <a href="#" class="close">&times;</a>
                        <h2>Poster une run</h2>
                        <form method="POST" action="{{ url_for('poster_run') }}">
                            <input class="popup-input" type="text" name="game" placeholder="Game name" required>
                            <input class="popup-input" type="text" name="time" placeholder="Time" required>
                            <input class="popup-input" type="text" name="date" placeholder="Date (YYYY-MM-DD)" required>
                            <button type="submit">Envoyer</button>
                        </form>
                    </div>
                </div>
            </section>


            <section id="rank">
                <table>
                    <tr>
                        <th>Place</th>
                        <th>Utilisateur</th>
                        <th>Temps</th>
                        <th>Région</th>
                        <th>Date</th>
                    </tr>
                    {% for run in runs %}
                        <tr>
                            <td>{{ run.id }}</td>
                            <td><a href="{{ url_for('user_render', id=run.profile) }}">{{ run.user }}</a></td>
                            <td><a href="{{ url_for('run_render', id=run.id) }}">{{ run.time | format_seconds }}</a>
                            </td>
                            <td>PAL</td>
                            <td>{{ run.date }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
        </div>

        <section id="news" class="right">
            <h2>Actus de la communauté du jeu</h2>
            <ul>
                {% for article in articles %}
                    <li><a href="#article">
                        <h3>{{ article.title }}</h3>
                    </a>
                        <p>{{ article.game }}</p>
                        <p>By {{ article.user }}</p>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>

{% endblock content %}