<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NES Tetris</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/Rank_Tetris.css')}}">
    <link rel="stylesheet"
        href="https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900">
</head>
</head>

<body>
    <header>
        <img src="../static/Images/Logo.png" alt="Logo Slowrun">
        <ul>
            <li><a href="{{url_for('index_render')}}">Home</a></li>
            <li><a href="games_list.html">Jeux</a></li>
            <li><a href="#Actus">Actus</a></li>
            <li><a href="#Connexion">Connexion</a></li>
            <li><a href="#Inscription">Inscription</a></li>
        </ul>
    </header>

    <section id="Infos">
        <img src="../static/Images/Tetris.png" alt="NES Tetris">
        <div id="Noms">
            <h2>{{game.name}}</h2>
            <ul id="tags">
                <li>#NES</li>
                <li>#Retro</li>
            </ul>
        </div>
    </section>

    <section id="Category">
        <p>Catégories :</p>
        <ul>
            {%for categorie in categories%}
            <li>{{categorie.name}}</li>
            {%endfor%}
            <li>Voir plus : <select name="Voir plus" id="Misc"></select></li>
        </ul>
    </section>

    <section id="rank">
        <table>
            <tr>
                <th>Place</th>
                <th>Utilisateur</th>
                <th>Temps</th>
                <th>Région</th>
                <th>Date</th>
            </tr>
            {%for run in runs%}
            <tr>
                <td>#1</td>
                <td><a href="#Profile">{{run.user}}</a></td>
                <td><a href="#Run">{{run.time}}</a></td>
                <td>PAL</td>
                <td>{{run.date}}</td>
            </tr>
            {%endfor%}
        </table>
    </section>

    <h2>Actus de la communauté du jeu</h2>
    <section id="news">
        <ul>
            {%for article in articles%}
            <li><a href="#article">
                    <h3>{{article.title}}</h3>
                </a>
                <p>{{article.game}}</p>
                <p>By {{article.user}}</p>
            </li>
            {%endfor%}
        </ul>
        
    </section>
</body>

</html>