{% extends 'base.html' %}
{% block content %}
<form action="{{url_for('signup_render')}}" method="POST">
    <label for="username">Username :</label>
    <input class="sign-in" type="text" name="name" id="username" placeholder="Enter your username" required>

    <label for="email">Email :</label>
    <input class="sign-in" type="email" name="email" id="email" placeholder="Enter your email" required>

    <label for="password">Password :</label>
    <input class="sign-in" type="password" id="password" name="password" placeholder="Enter your password" required>
    <button type="submit">Sign up</button>
</form>
{% endblock content %}