{% extends 'base.html' %}
{% block content %}
    <section id="user">
        <div id="username">
            <h2>Toinoufu</h2>
        </div>
        <div id="userinfos">
            <p>rejoint le : 07/03/2024</p>
            <p>Nombre de Slowruns : 1</p>
        </div>
    </section>

    <section id="tabs">
        <h3 class="title">Latest Slowruns</h3>
        <h3 class="title">Games ran</h3>
        <h3 class="title">Articles posted</h3>
    </section>

    <section id="content">
        <div class="slow">
            <a href="Detailed_Run.html"><img src="Images/Tetris.png" alt=""></a>
            <div class="run">
                <h3>NES Tetris</h3>
                <ul>
                    <li>Maxout</li>
                    <li>Time : 2h45m36s690ms</li>
                    <li>Rank : 1st</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock content %}