{% extends 'base.html' %}
{% block content %}
<section id="user">
    <div id="username">
        <h2>{{ user.name }}</h2>
    </div>
    <div id="usernews">
        <p>rejoint le : {{ user.date }}</p>
        <p>Nombre de Slowruns : 1</p>
    </div>
</section>

<section id="tabs">
    <h3 class="title">Latest Slowruns</h3>
    <h3 class="title">Games ran</h3>
    <h3 class="title">Articles posted</h3>
</section>

<section id="content">
    <div class="slow">
        {% for run in runs %}
        <a href="{{url_for('run_render', id=run.link)}}"><img src="{{url_for('static', filename='images/' ~ run.game_name|replace(' ', '') ~ '.png' )}}" alt=""></a>
        <div class="run">
            <h3>{{ run.game }}</h3>
            <p>Catégories : Maxout</p>
            <p>{{ run.time | format_seconds}}</p>
            <p>Classement : 1er</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}