{% extends 'base.html' %}
{% block content %}
<section id="user">
    <div id="username">
        <h2>{{ user.name }}</h2>
    </div>

    <div id="usernews">
        <p>Joined on : {{ user.date }}</p>
        <p>Number of Slowruns :  {{ run_count }}</p>
    </div>
</section>

<section id="tabs">
    <h3 class="title">Latest Slowruns</h3>
</section>

<section id="content">
    <div class="slow">
        {% for run in runs %}
            <a href="{{ url_for('run_render', id=run.slowrun_id) }}">
                <img src="{{ url_for('static', filename='images/' ~ run.game_name|replace(' ', '') ~ '.png' ) }}"
                     alt="">
            </a>
            <div class="run">
                <h3>{{ run.game_name }}</h3>
                <p>Category : {{ run.category_name if run.category_name else 'Not specified' }}</p>
                <p>{{ run.time | format_seconds }}</p>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}