body{
  margin: 0;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom right, #fb3e8e, #ffaa00);
  color: white;
}
ul{
  list-style: none;
}

header{
  background-color: #0DA4BF;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2em;
  padding: 0 10em;
}

header ul{
  display: flex;
  list-style: none;
  gap: 2em;
}

header img{
  height: 4em;
}

header a{
  color: inherit;
  text-decoration: inherit;
}

.background{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

#runs{
  background-color: #402957;
  display: flex;
  border-radius: 15px;
} 
#container{
  display: flex;
  flex-direction: column;
  gap: 3em;
  
}

#news{
  background-color: #402957;
  display: flex;
  border-radius: 15px;
}

#popular_games{
  background-color: #402957;
  display: flex;
  border-radius: 15px;
}

footer{
  background-color: #55dcf3;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2em;
  padding: 0 10em;
  gap: 3em;
}

footer img{
  height: 6em;
}