/** mise en forme header **/
header {
    background-color: blue;
    display: flex;
    justify-content: space-between;
  }
  
  header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1em;
    align-items: center;
    margin-right: 50px;
  }
  
  header img {
    width: 150px;
    height: 100px;
    aspect-ratio: 4/3;
  }
  
  header a {
    color: white;
    text-decoration: none;
  }

  /*Mise en forme section recherche*/
  #recherche {
    display: flex;
    justify-content: space-between;
  }
  
  #recherche form input {
    background-color: blue;
  }

  /*Mise en forme des jeux*/

  #Jeux img {
    width: 100%;
    aspect-ratio: 4/6;
    object-fit: cover;
 
  }
  
  #Jeux a{
    width: 22%;
  }

  #Jeux {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 150px
  } 

  